<phpunit
	bootstrap="bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false"
	syntaxCheck="false">
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix=".php">integration</directory>
		</testsuite>
	</testsuites>
</phpunit>